@layer theme, base, mui, components, utilities;
@import 'tailwindcss';

@theme inline {
  --color-blue-primary: #025FCA;
  --color-rose-primary: #ED2049;
  --color-rose-secondary: #FF5F85;
  --color-gray-primary: #F5F5F5;
  --color-gray-secondary: #ECECEC;
  --color-gray-background: #EAEAEA;
  --color-gray-text: #ACACAC;
  --color-gray-disabled: #919EAB;
  --color-orange-primary: #FFA446;
  --color-green-primary: #51BCB7;
  --color-brand-50: #E6F1FF;
  --color-brand-100: #CDE4FE;
  --color-brand-500: #0373F3;
  --color-brand-600: #025FCA;
  --color-brand-700: #024897;
  --color-brand-800: #013065;
  --color-grey-200: #F4F6F8;
  
  --spacing-primary: 15px;
  --border-radius-primary: 8px;

  --font-h1: var(--mui-font-h1);
  
  /* CSS Variables cho shadcn/ui components */
  --color-background: 0 0% 100%;
  --color-foreground: 222.2 84% 4.9%;
  --color-card: 0 0% 100%;
  --color-card-foreground: 222.2 84% 4.9%;
  --color-popover: 0 0% 100%;
  --color-popover-foreground: 222.2 84% 4.9%;
  --color-primary: #1C252E;
  --color-primary-foreground: 210 40% 98%;
  --color-secondary: #637381;
  --color-secondary-foreground: 222.2 84% 4.9%;
  --color-muted: 210 40% 96%;
  --color-muted-foreground: 215.4 16.3% 46.9%;
  --color-accent: 210 40% 96%;
  --color-accent-foreground: 222.2 84% 4.9%;
  --color-destructive: 0 84.2% 60.2%;
  --color-destructive-foreground: 210 40% 98%;
  --color-border: 214.3 31.8% 91.4%;
  --color-input: 214.3 31.8% 91.4%;
  --color-ring: 221.2 83.2% 53.3%;
  --radius: 0.5rem;
}

/* @layer utilities {
  .mui-subtitle2-figma {
    @apply text-base font-semibold leading-[1.4] tracking-[0.01em] !important;
    font-family: var(--font-roboto) !important;
  }
} */

@layer base {
  h1 {
    font: var(--mui-font-h1);
    letter-spacing: -0.01562em;
  }
}

@utility typography-subtitle2 {
  @apply text-base font-semibold leading-[22px] tracking-[-0.01562em] line-clamp-2 text-ellipsis break-all;
}